<ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/users/settings">Users Settings</a></li>
    <li><a href="/infos/settings">Infos Settings</a></li>
    <li><a href="/commands">Commands</a></li>
    <li><a href="/commands/edit">Commands Settings</a></li>
    <li><a href="/songs">Song request</a></li>
    <li><a href="/songs/settings">Song request Settings</a></li>
    <li><a href="/modules">Modules</a></li>
</ul>